
.list-houses-container {
  height: 100%;
  padding: 20px;
}

.header-icon {
  margin-top: -8px;
}

.header {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

.add-house {
  text-align: center;
  margin: 12px 0;
}

.table-container {
  text-align: center;
  height: calc(100% - 4rem - 60px);
  overflow: auto;
}

.button-col {
  width: 1px;
}

.footer {
  text-align: center;
  padding-top: 4px;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: white;
}

.icon-container {
  margin-right: 5px;
}

.icon-container:last-child {
  margin-right: 0px;
}

.icon {
  font-size: 1.25rem;
}