
.route-container, #map {
  float: left;
  width: 40%;
  height: 100%;
  overflow: scroll;
}

#map {
  width: 60%;
}

tr {
  line-height: 36px;
}

@media (max-width: 765px) {
  .route-container, #map {
    width: 100%;
    height: 50%;
  }

  thead {
    font-size: 14px;
  }

  tbody {
    font-size: 14px;
  }

  tr {
    line-height: 1.5;
  }

  td {
    padding: 4px !important;
  }
}