
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body, .table, .form-control {
  color: #474787;
}

a {
  color: #706fd3;
}

a:hover, a:active {
  color: #474787;
}

.btn-primary {
  background-color: #706fd3;
  border-color: #706fd3;
}

.btn-primary:disabled {
  background-color: #6e6ea5 !important;
  border-color: #6e6ea5 !important;
}
.btn-primary:hover, .btn-primary:active{
  background-color: #474787 !important;
  border-color: #474787 !important;
}